.answers-list {
    padding: 40px;
    .answer {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #c3c3c3;
        .h-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            p {
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            span {
                font-size: 14px;
                font-weight: bold;
                color: #7d7b7b;
                margin-left: 5px;
            }
        }
        .a-text {
            font-size: 14px;
        }
    }
    .add-answer {
        textarea {
            display: inline-block;
            width: calc(100% - 300px);
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
        button {
            float: right;
        }
    }
}